html {
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

body {
	margin: 0;
	--color-text: #999;
	--color-bg: #f8ecde;
	--color-link: #b19e7f;
	--color-link-hover: #fff;
	color: var(--color-text);
	background-color: $backgroundColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $fontBody;
	line-height: 1.8;
	font-weight: 400;
	position: relative;
	font-size: 18px;
}

body::-webkit-scrollbar-track {
	border: transparent;
	background-color: transparent;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: #b3b3b3de;
}

header{
	font-family: $fontMenu;
}

a {
	cursor: pointer;
}

strong {
	color: #fff;
}

h2{
	font-family: $fontBody;
	margin: 40px 0 20px;
	word-wrap: break-word;
	letter-spacing: -1px;
	color: #fff;
	cursor: default !important;
	font-size: 50px;
	font-weight: 900;
	letter-spacing: -1px;
	line-height: 40px;
}

.is-none {
	display: none!important;
}

.p-fixed {
	position: fixed!important;
}

.topLinkDiv {
	position: fixed;
	right: 20px;
	font-weight: 600;
	font-size: 13px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	z-index: 1000;
	transform-origin: top right;
	transform: rotate(90deg);
	bottom: 50px;
	cursor: pointer;
	
	svg {
		fill: #b19e7f;
		display: block;
	}
	
	span {
		margin-left: 3px;
	}
	
	span:hover {
		color: #b19e7f;
	}
}

.topLink {
	cursor: default;
	padding: 5px;
	
	:hover {
		fill: white;
		color: white;
	}
	
}

.div_spaze {
	height: 200vh;
}
