/* Ultra wide screens ----------- */
@media only screen and (min-width: 2040px) {
	.icon {
		height: 55px;
		width: 55px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	.largeContainer {
		max-width: 1550px;
	}
	
	body {
		font-size: 24px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1440px) {
	p {
		font-size: 24px;
		line-height: 42px;
	}
	.letter {
		font-size: 161px;
		line-height: 152px;
	}
	.titleIntro.container.largeContainer {
		padding-left: 0px;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) and (max-width: 1440px) {
	/* STYLES GO HERE */
	body {
		font-size: calc(18px + 5.4 * ((100vw - 1400px) / 280));
	}
	
	.letter {
		font-size: $maxHeightLetterIntro;
		line-height: $maxHeightLineLetterIntro;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 375px) {
	.menu__item {
		margin-bottom: 5%;
	}
	
}

/* small devices (portrait) ----------- */
@media only screen and (max-width: 1024px) {
	.menu__item-img {
		width: 50vh;
	}
	.softwareDiv {
		padding: 0px 30px;
	}
	body {
		font-size: 16px;
	}
	.social-icons.filter .home {
		height: 20px;
		width: 20px;
		margin: 0px 9px;
	}
	#nav-icon span:nth-child(1) {
		top: 10px;
	}
	#nav-icon span:nth-child(2) {
		top: 19.5px;
	}
	#nav-icon span:nth-child(3) {
		top: 28px;
	}
	#nav-icon.open span:nth-child(3) {
		top: 32px;
	}
	#nav-icon {
		width: 30px;
		height: 30px;
		
		span {
			height: 3px;
		}
	}
	.homeLink {
		font-size: 17px;
		padding-left: 60px;
	}
	.image-holder {
		margin-top: 200px;
		margin-left: -26px;
	}
	.letter {
		font-size: 11.5vw;
		line-height: 9vw;
	}
	.aboutDiv {
		padding: 0px 30px;
	}
	.aboutDiv {
		height: 240px;
	}
	.icon {
		height: 30px;
		width: 30px;
	}
	.menu {
		padding-left: 100px;
	}
	.image-holder {
		height: 240px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.softwareDiv {
		padding: 0px 15px;
	}
	h2 {
		margin: 35px 0 15px;
		font-size: 38px;
	}
	.letter {
		font-size: 13.5vw;
		line-height: 11vw;
	}
	.rowTitle {
		padding-left: 15px;
	}
	body {
		font-size: 15px;
	}
	.program-list li {
		width: 23%;
	}
	.logoMenu {
		width: 50px;
		line-height: 50px;
		font-size: 14px;
	}
	#nav-icon {
		margin-top: 5px;
	}
	.menu__item .menu__item-link {
		padding: 7px;
	}
	.menu {
		padding-left: 80px;
		padding-top: 35px;
	}
	.socialIconsHome:before {
		margin: 12px 2% 12px 4%;
	}
	.homeIntroAbout {
		left: 10.666667%;
	}
	.aboutDiv {
		height: 290px;
	}
	.button{
		font-size: 9px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.homeLink {
		padding-left: 15px;
		font-size: 14px;
		line-height: 50px;
	}
	.aboutDiv {
		height: 270px;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	p {
		font-size: 16px;
		line-height: 28px;
	}
	.homeLink {
		font-size: 14px;
		padding-left: 2vw;
		line-height: 50px;
	}
	.menu__item-link {
		font-size: 8.5vw;
		
		.marquee span {
			font-size: 8.5vw;
		}
	}
	.qlik-sense {
		padding-left: 0.5rem !important;
		padding-right: 0.8rem !important;
	}
	.javascript {
		padding-left: 1.2rem !important;
		padding-right: 1.2rem !important;
	}
	.react {
		padding-top: 0.5rem;
	}
	.wordpress {
		padding-right: 0;
		padding-left: 0.5rem;
	}
	.program-list li {
		width: 25%;
		display: inline-block;
		height: 30px;
	}
	.section-heading {
		h2 {
			margin-top: 0px;
		}
	}
	.aboutDiv {
		height: 270px;
	}
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) {
	body {
		font-size: 18px;
	}
	h2 {
		font-size: 39px;
		line-height: 40px;
	}
	p {
		font-size: 19px;
		line-height: 34px;
	}
	.letter {
		font-size: 14.5vw;
		line-height: 12vw;
		letter-spacing: -3px;
	}
	.softwareDiv {
		padding: 0px 15px;
	}
	.git {
		width: 75%;
	}
	.menu {
		padding-left: 25px;
	}
	.social-icons.filter.icon_menu {
		position: absolute;
		width: 100%;
		bottom: 30px;
	}
	.menu__item-link, .marquee span {
		font-size: 3.2rem;
	}
	.aboutDiv {
		height: 491px;
		display: inline-block;
		padding: 0px 15px;
	}
	.social-icons.filter .home {
		height: 25px;
		width: 25px;
	}
	.program-list li {
		width: 50%;
		display: inline-block;
		height: 75px;
	}
	.homeIntroAbout {
		display: block;
		left: 0;
		width: 100%;
	}
	.socialIconsHome:before {
		display: none;
	}
	.rowTitle {
		padding-left: 15px;
	}
	.topBar {
		height: 60px;
	}
	.appHeader {
		height: 100px;
	}
	.hide_mobile {
		display: none;
	}
	.homeLink {
		display: none;
	}
	.pl-14 {
		padding-left: 3.5rem;
	}
	.pr-14 {
		padding-right: 3.5rem;
	}
	.section-heading {
		padding: 0px;
		h2 {
			margin-top: 0px;
		}
	}
	.button{
		font-size: 11px;
	}
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
	/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
	.menu__item {
		margin-bottom: 5%;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 900px) and (max-device-height: 380px) {
	#nav-icon {
		margin-top: 0px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.homeLink {
		display: none;
	}
	#nav-icon {
		margin-top: var(--marginTop);
		--marginTop: calc((60px - (37px - (45px / 100))) / 2);
	}
	.icon {
		height: 35px;
		width: 35px;
		margin: 0px 10px;
	}
}

/* Smallest smartphones */
@media only screen and (max-width: 320px) {
	h2 {
		font-size: 33px;
	}
	p {
		font-size: 20px;
	}
	.icon {
		height: 25px;
		width: 25px;
	}
	.javascript {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	.description_portfolio {
		width: 100%;
	}
	.menu__item-link, .marquee span {
		font-size: 2.6rem;
	}
	.aboutDiv {
		height: 591px;
	}
}

/* Iphone 6/7/8 (portrait) */
@media only screen and (min-width: 370px) and (max-width: 500px) and (orientation: portrait) {
	.ss-pt-10 {
		padding-top: 2.5rem;
	}
	.ss-pt-14 {
		padding-top: 3.5rem;
	}
}
