/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	/* STYLES GO HERE */
	body {
		font-size: calc(18px + 5.4 * ((100vw - 1400px) / 280));
	}
	
	.letter {
		font-size: $maxHeightLetterIntro;
		line-height: $maxHeightLineLetterIntro;
	}
	
	.container {
		margin: 0px auto;
	}
	
	.appHeader {
		padding-top: 40px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 375px) {
	.menu__item {
		margin-bottom: 5%;
	}
	
}

/* small devices (portrait) ----------- */
@media only screen and (max-device-width: 1024px) {
	.menu__item-img {
		width: 50vh;
	}
	
	.softwareDiv{
		padding: 0px 30px;
	}
	
	.social-icons.filter .home{
		height: 20px;
		width: 20px;
		margin: 0px 9px;
	}
	#nav-icon {
		width: 35px;
		height: 35px;
	}
	
	.homeLink {
		font-size: 17px;
		padding-left: 60px;
	}
	
	.image-holder {
		margin-top: 200px;
		margin-left: -11px;
	}
	
	.letter {
		font-size: 10.5vw;
		line-height: 8vw;
	}
	
	.titleIntro{
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.aboutDiv{
		padding: 0px 30px;
	}
	
	.icon {
		height: 30px;
		width: 30px;
	}
	
	.menu {
		padding-left: 100px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.logoMenu {
		left: 20px;
		top: 20px;
	}
	.homeLink {
		padding-left: 30px;
	}
}

/* Ultra wide screens ----------- */
@media only screen and (min-width: 2040px) {
	.icon {
		height: 55px;
		width: 55px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	.largeContainer {
		max-width: 1550px;
	}
}

/* Large screens ----------- */
@media only screen and (min-width: 1440px) {

}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
	
	.topBar {
		height: 60px;
	}
	.logoMenu {
		left: 20px;
		top: 20px;
	}
	.appHeader {
		height: 100px;
		padding-top: 10px;
	}
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
	/* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	.menu__item {
		margin-bottom: 5%;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 900px) and (max-device-height: 380px) {
	.homeLink {
		display: none;
	}
	.logoMenu {
		left: 11px;
		top: 11px;
	}
	.appHeader {
		padding-top: 11px;
	}
	#nav-icon {
		margin-top: 0px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.homeLink {
		display: none;
	}
	.logoMenu {
		left: 11px;
		top: 11px;
	}
	#nav-icon {
		margin-top: var(--marginTop);
		--marginTop: calc((60px - (45px - (45px / 100))) / 2);
	}
	.icon {
		height: 35px;
		width: 35px;
		margin: 0px 10px;
	}
}
