// Body
$backgroundColor: #1d1d1d;
$colorMenuItems: #fff;
$greySite: #b0b2c3;
$second_color: #c0a062;

// Font
$fontBody: 'Source Sans Pro', sans-serif, Helvetica, Arial, sans-serif;
// Font
$fontMenu: "Open Sans", sans-serif;

//Navbar
$heightNavIcon: 45px;
$positionHamburgerLine1: 11px;
$positionHamburgerLineCalc: $heightNavIcon / 2;
$positionHamburgerLine2: $positionHamburgerLineCalc - 1;
$positionHamburgerLine3: 33px;
$heightLineLetterIntro: 10vw;
$heightLetterIntro: 13vw;
$maxHeightLineLetterIntro: 150px;
$maxHeightLetterIntro: 175px;
