@import "variable";

.container{
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

body {
	margin: 0;
	--color-text: #b0b2c3;
	--color-bg: #f8ecde;
	--color-link: #b19e7f;
	--color-link-hover: #fff;
	color: var(--color-text);
	background-color: $backgroundColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $fontTitle;
}

a{
	cursor: pointer;
}
