.titleIntro {
	font-family: Droid Serif, Georgia, serif;
	color: white;
	height: 100%;
	padding: 12vh 0px 95px 0px;
	position: relative;
	display: grid;
}

.rowTitle {
	float: left;
	clear: both;
	position: relative;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 35px;
}

.letterWrapper {
	float: left;
	position: relative;
}

.letter {
	cursor: default !important;
	font-size: $heightLetterIntro;
	font-weight: 900;
	letter-spacing: -6px;
	line-height: $heightLineLetterIntro;
	text-shadow: -20px 10px 10px rgba(0, 0, 0, 0.3),
	0 20px 50px rgba(0, 0, 0, 0.3);
}

@mixin glitchCopy {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.glitch:hover {
	position: relative;
	/* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
	animation: glitch-skew 1s infinite linear alternate-reverse;
	
	// Creates a copy before our text.
	&::before {
		// Duplicates our text with the mixin.
		@include glitchCopy;
		// Scoots text slightly to the left for the color offset.
		left: 2px;
		// Creates the color 'shadow' that happens on the glitch.
		text-shadow: -2px 0 #ff00c1;
		/* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
		clip: rect(44px, 450px, 56px, 0);
		/* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}
	
	// Creates a copy after our text. Note comments from ::before.
	&::after {
		@include glitchCopy;
		left: -2px;
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
	$steps: 20;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
		}
	}
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
	$steps: 20;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
		}
	}
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
	$steps: 10;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			transform: skew((random(10) - 5) + deg);
		}
	}
}

.homeIntroAbout {
	padding-top: 15px;
	float: left;
	width: 83.3333333333%;
	max-width: 1400px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	left: 16.6666666667%;
}

.aboutDiv {
	position: relative;
	height: 300px;
	margin-bottom: 5vh;
}

.program-list li {
	margin-bottom: 55px;
	width: 25%;
	display: -webkit-inline-box;
}

.program-list svg {
	margin: 0px auto;
}

.softwareLogos path {
	fill: white;
}

.image-holder {
	height: 400px;
	width: 90px;
	position: absolute;
	background-color: #1d1d1d;
	margin-top: 307px;
	margin-left: -5px;
}

.laravel {
	margin-top: -54px !important;
}

.react {
	margin-top: -71px !important;
}

.qlik-sense {
	margin-top: -71px !important;
}

.wordpress {
	margin-top: -65px !important;
}

.gatsby {
	margin-top: -55px;
}

.section-heading {
	margin: auto 1px;
}

.javascript {
	padding: 0px 35px;
}

.qlik-sense {
	padding: 0px 25px;
}

.socialIconsHome {
	text-align: left;
	animation-delay: 1.4s;
	
	svg {
		fill: #676767 !important;
		height: 100%;
	}
	
	.icon-linkedin {
		height: 30px;
		width: 30px;
	}
	
	.icon-curriculum svg {
		margin-bottom: 0px !important;
	}
	
	.icon-codepain svg {
		margin-bottom: 0px !important;
	}
}

.socialIconsHome:before {
	content: "";
	display: block;
	transform: translateY(1px);
	float: left;
	width: 12.5%;
	max-width: 210px;
	padding-left: 20px;
	padding-right: 20px;
	height: 1px;
	background: #c0a062;
	margin: 12px 3% 12px 10%;
}

// Animation
.row1 {
	animation-delay: 0.2s;
}

.row2 {
	animation-delay: 0.6s;
}

.row3 {
	animation-delay: 1s;
}

.homeIntroAbout {
	animation-delay: 1.7s;
}

.softwareDiv:before {
	content: "";
	width: 132px;
	height: 15px;
	z-index: 10;
	background-color: $backgroundColor;
	background-position: 50%;
	background-repeat: repeat-x;
	background-image: url("../images/middle.svg");
	margin: 0px auto 10rem;
}
