@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

.card {
	position: relative;
	left: 50%;
	top: 50px;
	width: 290px;
	height: 450px;
	background: url('https://freefrontend.com/assets/img/css-cards/CSS-Same-Height-Cards.jpg') no-repeat center/cover;
	box-shadow: 0 10px 25px 0 rgba(black, .5);
	transform: translateX(-50%);
	transition: .5s;
	cursor: pointer;
	
	&:hover {
		transition: .5s;
		
		.title-project {
			padding-bottom: 35px;
			opacity: 1;
			transition: .5s;
		}
	}
	
	.title-project {
		position: absolute;
		width: 100%;
		bottom: -2px;
		left: 0;
		font-size: 20px;
		font-weight: 300;
		padding: 30px 0;
		background: linear-gradient(to top, #000, #00000075);
		text-transform: uppercase;
		text-align: center;
		opacity: 0;
		transition: .5s;
		color: $second_color;
	}
}


#drivek {
	background: url('https://marrifta.sirv.com/drivek.poj.png') no-repeat center/cover;
}

#lorenzo-dardano {
	background: url('https://marrifta.sirv.com/lorenzo-dardano-proj.png') no-repeat center/cover;
}

#belvedere {
	background: url('https://marrifta.sirv.com/hotelilbelvedere-proj') no-repeat center/cover;
}

#startupitalia {
	background: url('https://marrifta.sirv.com/startupitalia-proj.png') no-repeat center/cover;
}

.description_portfolio {
	width: 75%;
}

.portfolio {
	h2 {
		margin-left: 10%;
		font-size: 82px;
		line-height: 104px;
		margin-top: 0px;
	}
	
	.button {
		margin: 70px auto 20px;
	}
}

.portfolio:before {
	content: "";
	width: 132px;
	height: 15px;
	z-index: 10;
	background-color: $backgroundColor;
	background-position: 50%;
	background-repeat: repeat-x;
	background-image: url("../images/middle.svg");
	margin: 0px auto;
	opacity: .15;
}
